*{
    box-sizing: border-box !important;
}

.navbar{
    background-color:blue;
}

.b1{
    border: 3px solid red;
    /* box-sizing: border-box !important; */
}


/* service start */

.servive-heading{
    font-weight: bold;
}

.servive-para{
    text-align: center;
    font-size: 17px;
}


.service-1{
    background-color: rgb(243,177,26);
}

.ser-all{
    background-color: rgb(245,245,245);

}
.serives-off{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.service-head-2{
    font-weight: bold;
    color: rgb(85,99,131);
}
.service-para2{
    color:grey;

}

.service-icon{
    display: flex;
    flex-direction: column;
}

.service-icon .fa-check{
    color: rgb(85,99,131);

}

.service-icon span{
    color:black !important;
    font-weight: lighter !important;
    font-family: Arial, Helvetica, sans-serif;
    /* font-style: normal; */
    font-weight: lighter;
}

.service-img{
 /* text-justify: right;\\    */
 /* justify-content: right !important; */
 /* align-items: flex-start; */
    /* justify-self: self-start; */
    /* text-align: right; */
    text-align-last: right;

}

.btn-rounded{
    border-radius:30px 30px 30px 30px ;
    /* padding: ; */
    font-weight: bold;
    background-color: rgb(85,99,131) !important;

}

.service-sec3a{
    background-color: rgb(80,21,129);

}

.btn-rounded2{
    background-color: rgb(243,177,26) ;
    border-radius:30px 30px 30px 30px ;
    border:2px solid white;
    /* height: 100px; */
    /* padding :15px 100px !important; */
    background-color: rgb(39 ,43 , 123) !important;
}

.service-sec3b{
    background-color: rgb(39 ,43 , 123) !important;
}

.service-last-btn{
    background-color:rgb(223,223,225) !important;
}

.service-last-btn span , .edit{
    color: rgb(39 ,43 , 123) ; 
}

.service-last-btn:hover{
    background-color: rgb(1 ,22 , 69) !important;
    /* color: white; */
}
/* 
.service-last-btn:hover >.service-last-btn span , .edit {
    color: white;
} */




/* service End */
