@media only screen and (min-width: 1070px) and (max-width: 1225px) {
  .nav-heading h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .firstprice {
    /* border: 1px solid red; */
    font-size: 25px !important;
  }
}

@media only screen and (min-width: 575px) and (max-width: 816px) {
  .header-buttons {
    display: flex;

    width: fit-content;
    justify-content: space-evenly;
  }

  .nav-list {
    display: none !important;
  }
}

@media only screen and (min-width: 575px) and (max-width: 681px) {
  .nav-heading {
    margin-top: -4% !important;
    /* border: 1px solid; */
  }

  .nav-btn2 {
    width: 200px !important;
    height: 52px;
    /* border: 10px solid; */
  }
  .nav-btn1 {
    width: 200px !important;
  }
}

@media (max-width: 1070px) {
  .nav-heading h1 {
    font-size: 40px;
  }

  .nav-heading {
    margin-top: 5%;
  }
}

@media (max-width: 694px) {
  .nav-heading h1 {
    font-size: 30px;
  }

  .nav-list {
    display: none !important;
  }

  .nav-btn2 {
    width: 200px !important;
    height: 52px;
    /* border: 10px solid; */
  }
  .nav-btn1 {
    width: 200px !important;
  }
}

@media (max-width: 574px) {
  /* *! nav media start for 576 */
  .header-buttons {
    /* justify-content: space-evenly; */
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column !important;
    /* justify-items: first baseline; */
    /* text-align: center; */
    /* margin: 0 auto; */
    /* display: inline-block; */
    /* text-justify: center; */
    align-items: center;
  }
  .nav-btn2 {
    margin-top: 10px;
    /* border: 1px solid red; */
  }

  .nav-list {
    display: none !important;
  }
  .nav-heading h1 {
    font-size: 28px;
  }
  .center-div2 {
    margin-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .center-div {
    margin-top: 40%;
    width: 80%;
    height: auto;
    position: absolute;
    top: 47%;
    left: 52%;
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    /* width: ; */
    align-content: center;
  }
  .nav-heading p {
    font-size: 15px;
    text-align: start;
  }
  .nav-btn2 {
    width: 200px;
    height: 52px;
    /* border: 10px solid; */
  }
  .nav-btn1 {
    width: 200px;
  }
  /* *! nav media End for 576 */
  /* *! Services media  Start for 576 */
  .servive-heading {
    font-size: 20px;
  }
  .servive-para {
    font-size: 15px;
  }
  .ser-all-media {
    margin-top: 15px;
  }
  .service-head-2 {
    font-size: 33px;
  }
  .service-sec3b {
    background-color: rgb(80, 21, 129);
    margin-top: 0px !important;
    flex-direction: column;
  }
  .service-sec3a h4,
  h5 {
    font-size: 20px;
    /* margin-left: 0px !important; */
    /* border: 1px solid red !important; */
  }
  .service-sec3ah4 {
    margin-left: 0px !important;
  }
  .service-sec3a h1 {
    font-size: 26px;
  }
  .btn-rounded2 {
    border: 2px solid !important;
    /* width: 5px !important; */
    height: 40px;
    width: 180px;
    /* padding: 5px !important; */
  }
  .deep-orange {
    background-color: rgb(80, 21, 129) !important;
    padding: 0px !important;
  }
  .deep-orange2 {
    background-color: rgb(80, 21, 129) !important;
    padding: 0px !important;
    color: white !important;
  }
  .edit1 {
    color: black !important;
  }
  /* *! Services media end for 576 */
  /*  *? Portfolio */
  /* *! Portfolio media start for 576 */
  .portfolio-main-heading {
    font-size: 20px;
  }
  .portfolio-main-heading2 {
    font-size: 16px;
  }
  /* *! portfolio media end for 576 */
  /*  */
  /* *? Package */
  /* *! Package media start for 576 */
  .pkeg-heading1 {
    font-size: 20px;
  }
  .price-card {
    width: 15.5rem !important;
    /* height: auto !important; */
    /* border: 2px solid pink; */
  }
  .firstprice {
    font-size: 30px !important;
  }

  /* *! Package media end for 576 */
  /* *! Innovation media start for 576 */
  .inno-circle {
    width: 50px;
    height: 50px;
    background-color: rgb(1, 22, 69);
    border-radius: 50%;
    border: 2px solid white;
  }
  .inno-all-icons {
    margin-top: 13% !important;
    text-align: center !important;
    font-size: 20px !important;
    /* margin: 0 auto !important; */
  }

  .circle-heading {
    width: max-content !important;
    text-align: center;
    font-weight: bold;
    margin-top: 15px !important;
    font-size: 14px !important;
  }
  .inno2 {
    margin-top: -5% !important;
  }

  .Inno-main-div h1 {
    font-size: 25px !important;
  }

  .Inno-main-div p {
    font-size: 13px !important;
  }
  .inobt1 {
    text-align: center;
  }

  /* *! Innovation media end for 576 */
  /* *? History Component */
  /* *! history media start for 576 */
  .history-card1 {
    width: 15rem !important;
  }
  .pca {
    margin-bottom: 100px !important;
    height: 10vh !important;
    /* border:100px solid !important;  */
  }
  .history-heading1 {
    font-size: 50px;
    text-align: center;
  }
  .history-para-h {
    text-align: center;
  }
  .history-div h1 {
    font-size: 21px;
  }

  .history-div p {
    font-size: 15px;
  }

  /* *! history media end for 576 */
  /* *? client Component */
  /* *! client media start for 576 */
  .client-heading1 {
    font-size: 25px;
  }
  .card {
    height: 25rem !important;
  }
  .industry-heading1 {
    font-size: 23px;
  }
  /* *! client media end for 576 */

  .footer-media {
    /* margin-bottom: 200px !important; */
    /* margin-top: -500px; */
    margin-top: -8% !important;
  }

  /* .port-img-div img {
    width: 310px;
    height: 310px;
  } */

  .port-main-div {
    height: 130rem;
  }
}
